name: Compile example
on:
  push:
    branches:
      - main

jobs:
  compile:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Compile example document
        uses: xu-cheng/latex-action@v4
        with:
          compiler: latexmk
          latexmk_use_lualatex: true
          working_directory: notes
          root_file: main.tex
      - name: Set release name
        id: name
        run: echo "name=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_OUTPUT
      # - name: Create a new release
      #   uses: actions/create-release@v1
      #   id: create_release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     release_name: ${{ steps.name.outputs.name }}
      #     tag_name: ${{ steps.name.outputs.name }}
      # - name: Upload the example paper to the release
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: main.pdf
      #     asset_name: main.pdf
      #     asset_content_type: pdf