name: Compile example
on:
  push:
    branches:
      - main

jobs:
  compile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Compile example document
        uses: xu-cheng/latex-action@v4
        with:
          compiler: latexmk
          latexmk_use_lualatex: true
          working_directory: notes
          root_file: main.tex
      - name: Set release name
        id: name
        run: echo "name=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_OUTPUT
      - name: Upload pdf to actions for testing
        uses: actions/upload-artifact@v5
        with:
            name: PDF
            path: notes/notes.pdf
      - name: Create a new release
        uses: softprops/action-gh-release@v2
        id: create_release
        with:
          files: notes/notes.pdf
          name: ${{ steps.name.outputs.name }}
          tag_name: ${{ steps.name.outputs.name }}
          token: ${{ secrets.ACCESS_TOKEN }}
          make_latest: true